*{margin:0;padding:0;}
.container{
	width:1170px;
	margin:0 auto;
}
img{width: 600px;margin-left: 50px;border-radius: 10px;}
.form_container {
    box-shadow: 1px 1px 12px 10px #d2d2d2;
    margin-top: 20px;
    border-radius: 10px;
}
.login_box {
    width: 500px;
    float: left;
    padding: 10px;
}
input {
    padding: 17px;
    margin-top: 23px;
    border: none;
    border-radius: 25px;
    width: 100%;
    outline:none;
    box-shadow: 1px 3px 19px -1px #c5c5c5;
}
input:focus{outline:none;}

.divAll {
    width: 330px;
    margin: auto;
}
.btn input {
    width: 185px;
    background: #b620d6;
    color: white;
    font-size: 19px;
    font-family: arial;
    padding: 8px;
    border: 2px solid #b620d6;
    transition: 0.25s linear;
    letter-spacing: 2px;
    margin-left: 30px;
}
.btn.divAll {
    width: 200px;
    margin: auto;
}
.checkBox {
    width: 141px;
    margin-left: 101px;
    font-family: arial;
    color: #1b1b1b;
}

.checkBox input {
    display: inline-block;
    width: 12px;
}
a.f_pwd {
    float: right;
    position: relative;
    top: -20px;
    right: 64px;
    font-family: arial;
    color: #212121;
    text-decoration: none;
}
.need_ac {
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
    font-family: arial;
    color: #313131;
}
.need_ac span a {
    text-decoration: none;
    margin-left: 7px;
}
.FormLogo span {
    font-weight: bold;
    font-family: arial black;
    font-size: 28px;
    color: #353535;
}
.FormLogo p {
    font-size: 17px;
    font-family: arial;
    line-height: 30px;
}
.FormLogo {
    margin-top: 85px;
    margin-bottom: 12px;
}
.btn input:hover {
    background: none;
    color: black;
    cursor: pointer;
}
.txt {
    width: 300px;
    text-align: center;
    position: absolute;
    left: 851px;
    top: 246px;
    color: white;
    font-family: arial;
}
.txt h3 {
    font-family: arial;
    line-height: 40px;
    font-size: 30px;
}
